<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.moneytracker">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Money Tracker"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:layoutDirection="ltr"
        android:theme="@style/Theme.MoneyTracker">
        <provider
            android:authorities="com.example.moneytracker.fileprovider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fileprovider"/>
        </provider>
        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="ocr" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:label="Money Tracker">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" ></activity>
        <activity android:name=".ScanActivity" android:label="Scanner"></activity>
        <activity android:name=".SigninActivity" ></activity>
        <activity android:name=".AnalysisActivity" ></activity>
        <activity android:name=".GraphActivity" ></activity>
        <activity android:name=".Category" ></activity>
        <activity android:name=".Expense" android:label="Expense"></activity>
        <activity android:name=".SettingsActivity" android:label="Settings"></activity>
    </application>
</manifest>